<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        {% if city is defined %}
          <title>Muthafucking weather, {{ city | default('can\'t find that place!')}}</title>
        {% else %}
          <title>Muthafuckin error, muthafucka</title>
        {% endif %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <style>
            body {
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
    </head>
    <body>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <center>
            {% if error is defined %}
              <h1>{{ error }}</h1>
              <button class="btn btn-primary" id="share-loc">Share my location</button><br/>
              <form class="form-inline">
                  Or:<br/>
                  <input type="text" class="form-control" id="whereiam" placeholder="Santa Cruz, CA"/> <button class="btn btn-small" id="whereiambutton">That's where I'm at</button>
              </form>
              <img class="img-responsive" src="{{ url_for('static', filename='img/rain.png') }}"/>
            {% else %}
              <h1>The muthafucking weather in {{ city | title }}:</h1>
              <p><a href="#" id="not-live">That's not where I fucking am!</a></p>
              <span id="whereiam-wrapper" style="display: none">
                <button class="btn btn-primary" id="share-loc">Share my location</button><br/>
                <form class="form-inline">
                  Or:<br/>
                  <input type="text" class="form-control" id="whereiam" placeholder="Santa Cruz, CA"/> <button class="btn btn-small" id="whereiambutton">That's where I'm at</button>
                </form>
              </span>
              <img class="img-responsive main-img" src="{{ url_for('static', filename='img/' + weather + '.png')}}"/>
              <p>{{weather | replace("-", " ") | title }} /
                <span class="temp">{{ temp | round | int}}</span>&deg;<span class="unit">F</span></p>
              <h2><strong>{{ weather | flavor_text }}</strong></h2>
            </center>
          </div>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <span class="col-xs-4">
            <h3>Tomorrow</h3>
            <img class="img-responsive" src="{{ url_for('static', filename='img/' + forecast[0].weather + '.png') }}"/>
            <p>
              <center>
                {{ forecast[0].weather | replace("-", " ") | title }} <br/>
                {{ forecast[0].min | round | int }} / {{ forecast[0].max | round | int }}&deg;F
              </center>
            </p>
          </span>
          <span class="col-xs-4">
            <h3>Day After</h3>
            <img class="img-responsive" src="{{ url_for('static', filename='img/' + forecast[1].weather + '.png') }}"/>
            <p>
              <center>
                {{ forecast[1].weather | replace("-", " ") | title }} <br/>
                {{ forecast[1].min | round | int }} / {{ forecast[1].max | round | int }}&deg;F
              </center>
            </p>
         </span>
          <span class="col-xs-4">
            <h3>Day After That</h3>
            <img class="img-responsive" src="{{ url_for('static', filename='img/' + forecast[2].weather + '.png') }}"/>
             <p>
              <center>
                {{ forecast[2].weather | replace("-", " ") | title }} <br/>
                {{ forecast[2].min | round | int }} / {{ forecast[2].max | round | int }}&deg;F
              </center>
            </p>
          </span>
        </div>
        {% endif %}
        <hr>

        <footer>
          <p>Created by <a href="http://www.pedaldrivenprogramming.com">Austin Riba</a> and <a href="http://andreawayte.blogspot.com/">Andrea Wayte</a></p>
        </footer>
      </div>
       <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/vendor/jquery-1.10.1.min.js') }}"><\/script>')</script>

        <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>
        <script type="text/javascript">
          $("#share-loc").click(function(e){
            e.preventDefault()
            navigator.geolocation.getCurrentPosition(function(position){
              console.log(position.coords.latitude)
              console.log(position.coords.longitude)
              location.search = "?latlng=" + position.coords.latitude + "," + position.coords.longitude
            })
          })

          $("#not-live").click(function(){
            $("#whereiam-wrapper").show();
          })

          $("#whereiambutton").click(function(e){
            e.preventDefault()
            location.search = "?loc=" + $("#whereiam").val()
          })
        </script>
        <!-- Piwik -->
        <script type="text/javascript">
          var _paq = _paq || [];
          _paq.push(["trackPageView"]);
          _paq.push(["enableLinkTracking"]);

          (function() {
            var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.toxiccode.com/";
            _paq.push(["setTrackerUrl", u+"piwik.php"]);
            _paq.push(["setSiteId", "5"]);
            var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
            g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
          })();
        </script>
<!-- End Piwik Code -->
    </body>
</html>
